body{
    background-color: rgb(63, 60, 60);
}
.container{

    background-color: rgb(47, 45, 45);
    width:40%;
    padding:30px;
    margin: 1% 35% 0 25%;
}
h1{
    color: #fff;
}
p{
    color: #fff;
    font-size: 14px;
}
select{
    width:100%;
    height: 30px;
}
.file{
    display: flex;
    padding: 0 0 0 10px;
    align-items: center;
    margin: 15px 0 0 0;
    padding: 0 0 0 10px;
    background-color: rgb(61, 61, 61);
    width:99%;
    height: 45px;
    color: #fff;
}
.redtxt{
    color: brown;
}
hr{
    border-color: rgb(74, 75, 75);
}
.txt{
    padding: 0 0 0 100px;
    font-size: 12px;
}
span{
    
    color: rgb(192, 34, 34);
}
.submit{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: center;
}
.submit input{
    background-color:rgb(61, 61, 61) ;
    border-color:rgb(192, 34, 34) ;
    color: rgb(192, 34, 34);
    padding: 5px 20px 5px 20px;
    font-size: 20px;
}