.body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight:bold;
}
.form select{
    padding: 5px 180px 5px 10px;
    font-size: 18px;
    font-weight:bold;
    margin: 10px 0 0 0;
    border-radius: 5px;
    box-shadow:0px 0px 9px rgb(135, 138, 135);
    border: 0;
}
.form .contact{
    margin: 10px 0 0 0;
     padding: 10px 0 10px 10px;
    font-size: 18px;
    font-weight:bold;
    width: 180px;
    border-radius: 5px;
    box-shadow:0px 0px 9px rgb(135, 138, 135);
    border: 0;
}
::placeholder{
     color: #000;
}
.phone{
    margin: 10px 0 0 0;
    padding: 10px 0 10px 10px;
    width: 180px;
   font-size: 18px;
   font-weight:bold;
   border-radius: 5px;
   box-shadow:0px 0px 9px rgb(135, 138, 135);
   border: 0;
}
.commodity{
    margin: 10px 0 10px 0;
    padding: 10px 150px 10px 10px;
   font-size: 18px;
   font-weight:bold;
   border-radius: 5px;
   box-shadow:0px 0px 9px rgb(135, 138, 135);
   border: 0;
}
.comments {
    width: 95%;
    font-size: 18px;
    padding: 10px 0 0 10px;
    border-radius: 5px;
    box-shadow:0px 0px 9px rgb(135, 138, 135);
    border: 0;
}


.submit{
    display: flex;
    justify-content:flex-end;
    margin-right:30px ;
}
.submit input{
    background-color: rgb(43, 81, 185);
    padding: 10px 30px 10px 30px;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    border: 0;
    
}
