body{
    background-color: #fafafa;
   
}
.body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    left:-10% ;
}
.phone-img{ 
    position: absolute;
    left: 40%;
}
.inputbox{
    
    position: absolute;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    left: 60%;
    padding: 5px 20px 5px 20px;
    width: 14%;

}
.logo img{
    display: flex;
   padding: 10px 0 20px 55px;
}
.account{
    margin: 10px;
    
}
.account input{
    padding: 9px 0 7px 8px;
    background: rgba(var(--b3f,250,250,250),1);
    border: 0;
    flex: 1 0 auto;
    margin: 0;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #dbdbdb;
    width: 95%;
}
.Password{
    margin: 10px;
   

}
.Password input{
    padding: 9px 0 7px 8px;
    background: rgba(var(--b3f,250,250,250),1);
    border: 0;
    flex: 1 0 auto;
    margin: 0;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #dbdbdb;
    width: 95%;
} 

.button{
    padding: 5px ;
}
.button button{
    background-color:#fff ;
    border: 0;
}

