body{
    background-color: #fafafa;
    font-family: sans-serif;
}
.outermost{
    width: 100%;
    height: 100%;
}
.body1{
    
    display: flex;
    justify-content: center;

    padding: 10%;
    left:-10% ;
}
 
.inputbox{

    align-items: center;
    
   
    padding: 5px 20px 5px 20px;
    width: 20%;
    

}
.inputbox1{

    align-items: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    padding: 5px 20px 5px 20px;
    

}
.inputbox2{
    display: flex;
    justify-content: center;
    
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
   
}


.logo img{
    display: flex;
   padding: 10px 0 20px 55px;
}
.account{
    margin: 10px;
    
}
.account input{
    padding: 9px 0 7px 8px;
    background: rgba(var(--b3f,250,250,250),1);
    border: 0;
    flex: 1 0 auto;
    margin: 0;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #dbdbdb;
    width: 95%;
}
.Password{
    margin: 10px;
   

}
.Password input{
    padding: 9px 0 7px 8px;
    background: rgba(var(--b3f,250,250,250),1);
    border: 0;
    flex: 1 0 auto;
    margin: 0;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #dbdbdb;
    width: 95%;
} 

.button{
   
    padding: 5px ;
}
.button button{
    background-color:#fff ;
    border: 0;
     width: 150px;
}

.txtor{
    color: rgb(197, 193, 193);
    display: flex;
    justify-content: center;
    margin: 15px 0 15px 0;
}
.fb{
    color: rgb(27, 74, 146);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:bold;
    margin: 0 0 15px 0;
}
.pass{
     display: flex;
    align-items: center;
    justify-content: center;
}
.pass a{
    text-decoration: none;
    color: rgb(87, 101, 145);
    font-size: 14px;
}

span{
    color: rgb(46, 153, 202);
    font-weight:bold;
}
p{
     font-size: 18px;
}
.txt{
    display: flex;
    align-items: center;
    justify-content: center;
}
.app{
    display: flex;
    align-items: center;
    justify-content: center;}

.down1 {
     display: flex;
    align-items: center;
    justify-content: center;
}
.down2 {
    display: flex;
   align-items: center;
   justify-content: center;
}

.down1 a {
    margin: 10px;
    text-decoration: none;
    color: rgb(148, 145, 145);
}
.down2 a {
    margin: 10px;
    text-decoration: none;
    color: rgb(148, 145, 145);
}
.body2{
    margin-top: -5%;
}