header{
    display: flex;
    align-items: center;
   
}
a{
    text-decoration: none;
}
a:hover
{text-decoration:underline;}
select:hover{
    text-decoration:underline;
}

.Leftlink{
    display: flex;
    align-items: center;
   
}
.logo{
    display: inline-block;
}

.logo img{
    width: 110px;
    padding: 10px 20px 10px 30px;
}

.link{
    color: #000;
    font-size: 20px;
    font-family: sans-serif ;
    padding: 10px 20px 10px 30px;
}
.select{
    border: 0;
    font-size: 15px;
    margin: 0 0 0 10px;
}
.button{
    font-weight:bold;
    border: 1px solid #000;
    background-color: #fff;
    padding: 7px 7px 7px 7px;
    border-radius:5px;
    margin: 0 0 0 10px;
}
.rightlink {
    display: flex;
    align-items: center;
    justify-self:flex-end;
    margin-left: auto;
   padding: 0 20px;
}